<html lang="en-GB">
<head>
    <title>Chimaera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-center">
    <span class="navbar-brand mb-0 h1">Chimaera Control Panel</span>
</nav>
<div class="container-fluid">
    <form method="POST" action={{ url_for('start_weather') }}>
        <input type="submit" class="btn btn-primary form-control" value="Start Weather">
    </form>
    <form method="POST" action="{{ url_for('clear') }}">
        <input type="submit" class="btn btn-primary form-control" value="Clear">
    </form>
    <form method="POST" action="{{ url_for('poweroff') }}">
        <input type="submit" class="btn btn-primary form-control" value="Poweroff">
    </form>
    <form method="POST" action="{{ url_for('reboot') }}">
        <input type="submit" class="btn btn-primary form-control" value="Reboot">
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('form').submit(function (e) {
            e.preventDefault();
            $.post($(this).attr('action'), $(this).serialize(), function (result) {
                console.log(result);
            });
            return false;
        });
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>